.moon-result {
  padding-top: 0;
  &.in-app {
    padding-top: 70pr;
    .result-wrapper {
      padding-top: 20pr;
    }
    .yun-wrapper {
      top: 200pr;
    }
  }
  .header {
    margin-bottom: 0;
  }
  
  .result-wrapper {
    width: 100%;
    height: 100%;
    color: #fff;
    padding-top: 20pr;
    text-align: center;
  }

  .content1 {
    .avater {
      position: relative;
      width: 180pr;
      height: 180pr;
      border-radius: 180pr;
      margin: 0 auto 0;
      border: 8pr solid #D5CBAD;
      .avater-commen {
        position: absolute;
        top: -42pr;
        left: -10pr;
        display: inline-block;
        width: 84pr;
        height: 66pr;
      }
      >img{
        background: rgba(255, 255, 255, 0.1);
        width: 165pr;
        height: 165pr;
        border-radius: 165pr;
      }
    }
    .regards {
      font-size: 40pr;
      margin-top: 20pr;
      color: #D5CBAD;
      >span {
        font-size: 72pr;
      }
    }
  }
  .content2 {
    border: 1px solid rgba(0,0,0,0);
    position: relative;
    width: 670pr;
    height: 646pr;
    background: url(../images/Bitmap@2x.png) no-repeat center;
    background-size: cover;
    margin: 60pr auto 0 auto;
    .commen-width {
      .result-bd {
        padding: 40pr;
        .level-commen {
          width: 260pr;
          height: 280pr;
        }
        .wangmu {
          background: url(../images/wangmu.png) no-repeat center;
          background-size: cover;
        }
        .change {
          background: url(../images/change.png) no-repeat center;
          background-size: cover;
        }
        .bajie {
          background: url(../images/bajie.png) no-repeat center;
          background-size: cover;
        }
        .result-text {
          width: 294pr;
          margin-left: 36pr;
          .level {
            width: 214pr;
            height: 64pr;
            margin: 0 auto;
          }
          .wangmu-text {
            background: url(../images/wangmu_text.png) no-repeat center;
            background-size: cover;
          }
          .change-text {
            background: url(../images/change_text.png) no-repeat center;
            background-size: cover;
          }
          .bajie-text {
            background: url(../images/bajie_text.png) no-repeat center;
            background-size: cover;
          }
          .desc {
            margin-top: 40pr;
            font-size: 32pr;
            color: #8A5707;
            text-align: left;
          }
        }
      }
    }
    .btn-box {
      width: 100%;
      margin-top: 84pr;
      padding: 0 40pr;
      position: relative;
      .btn-commen {
        width: 260pr;
        height: 106pr;
      }
      .share-btn {
        background: url(../images/share_btn.png) no-repeat center;
        background-size: cover;
      }
      .go-answer {
        position: absolute;
        right: 40pr;
        background: url(../images/go_answer.png) no-repeat center;
        background-size: cover;
      }
    }
    .chance-remain {
      color: #B49455;
      margin-top: 20pr;
      font-size: 28pr;
      line-height: 40pr;
      padding: 0 40pr;
      text-align: right;
    }
  }
}