
.in-app {
  .header {
    margin-bottom: 0;
  }
  .yun-wrapper {
    top: 90pr;
  }
}
.moon-rule {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 70pr;
  z-index: 1;
  .hd {
    width: 60pr;
    height: 68pr;
    margin: 0 40pr;
    background: url(../images/back.png) center no-repeat;
    background-size: contain;
  }
  .bd {
    width: 670pr;
    height: 1138pr;
    margin: 0 auto;
    padding: 110pr 10pr 0;
    text-align: center;
    background: url(../images/rule_bg1.png) center 0 no-repeat;
    background-size: contain;
  }
  .bd-name {
    font-size: 36pr;
    color: #D5CBAD;
  }
  .bd-wrap {
    width: 650pr;
    height: 830pr;
    margin: 45pr auto 0;
    padding: 0 30pr;
    overflow: auto;
  }
  .bd-title {
    display: inline-block;
    padding: 4pr 20pr;
    background: #885504;
    border-radius: 100pr;
    font-size: 28pr;
    color: #D5CBAD;
  }
  .bd-content {
    margin-top: 30pr;
    line-height: 60pr;
    text-align: left;
    font-size: 32pr;
    color: #885504;
  }
  .bd-reward {
    margin-top: 40pr;
  }
}