.btn-common {
  width: 100%;
  height: 96pr;
  font-size: 32pr;
  line-height: 96pr;
  text-align: center;
  background: linear-gradient(180deg, rgba(249, 236, 123, 1), rgba(255, 213, 24, 1));
  box-shadow: 0px -4pr 0px 0px rgba(230, 190, 14, 1), 0px 6pr 0px 0px rgba(255, 244, 158, 1), 0px 2p2 0px 0px rgba(255, 254, 244, 1);
  border-radius: 48pr;
}

.uncheck {
  color: rgba(51, 51, 51, 0.5);
  opacity: 0.5;
}

.ischecked {
  color: #333;
  opacity: 1;
}

.common-height {
  height: 80pr;
  line-height: 80pr;
  margin-top: 40pr;
}

.common-height input {
  padding-left: 40pr;
  background: #FFFDE4;
}

.common-height span {
  color: #105DB3;
  font-size: 32pr;
  line-height: 80pr;
}

.common-bg {
  border-radius: 6pr;
  background: #FFFDE4;
  border: 1px solid #FFF49E;
}

.common-bg input {
  padding-left: 40pr;
  background: #FFFDE4;
  border-radius: 48px;
}

#address::-webkit-input-placeholder {
  color: rgba(16, 93, 179, 0.5);
  font-size: 32pr;
}

#address:-moz-placeholder {
  color: rgba(16, 93, 179, 0.5);
  font-size: 32pr;
}

#address::-moz-placeholder {
  color: rgba(16, 93, 179, 0.5);
  font-size: 32pr;
}

#address:-ms-input-placeholder {
  color: rgba(16, 93, 179, 0.5);
  font-size: 32pr;
}

textarea {
  font-size: 32pr;
  color: #105DB3;
}